@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.inicio {
    width: 100%;
    padding: 0.04% 1%; 
    background-color: #1CD1B0;
}

main {
    display: flex;
    flex-direction: column;
}

.Principal {
    display: flex;
    align-items: center;
    font-size: large;
    width: 100%;
    padding: 1%;
    background: #00669F;
    color: white;
    text-align: center;
    margin-right: 5vw;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.Navegacion {
    background-color: black;
    display: flex;
    justify-content: end;
    color: white;
    padding: 0.6%;
    gap: 10px;
}

main {
    background-color: #00669F;
    border-radius: 20px;
    padding: 2%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    gap: 10px;
}

h1 {
    font-weight: bold;
}

.Info {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 40px;
    padding: 3%;
}

.PrimCol textarea {
    margin-top: 30px;
}

.PrimCol input {
    margin-bottom: 30px;
}

.SegCol select {
    margin-bottom: 38px;
}

.poderes, .personaje {
    display: flex;
    flex-direction: column;
}

.poderes label, .personaje label {
    margin-top: 5px;
}

.poderes legend, .personaje legend {
    margin-top: 30px;
}

input, textarea, select {
  width: 100%;
  padding: 2.6%;
  border-radius: 10px;
  border: white;
}

input[type="add"] {
  border: none;
  color: black;
  font-size: large;
  background-color: #1CD1B0;
  padding: 10px 50px;
  width: 40%;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out, transform 0.3s ease-in-out;
}

input[type="add"]:hover {
  background: linear-gradient(to right, #319fae, #ad17b8);
  transform: scale(1.05);
  cursor: pointer;
}

input[type="add"]:active {
  background: linear-gradient(to right, #319fae, #ad17b8);
  transform: scale(0.95);
}

input::placeholder {
  color: #979797;
}
input:focus::placeholder {
  color: transparent;
}
input[type="radio"],
input[type="checkbox"] {
  width: 10px;
}

input:required ~ label::before {
  content: none !important;
}

footer {
    color: white;
    background-color: #00669F;
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: 1%;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 768px){
    .GeneralContainer {
        flex-wrap: wrap;
        margin-top: 5vh;
    }
}